{% extends "layout.html" %}

{% block body %}
<div class="text-center">
  <h1>
    Welcome to Fisher's Bestfriend!
  </h1>
  <p>
  If you see something in the picture below, you came to the right place.
  </p>
  <br></br>
  <img src="https://raw.githubusercontent.com/matiastamsi/KalastajanKaveri/master/application/images/fish.png">

  {% if species_catched is defined %}
  <p>
    Navigate from the top to see more, but here is a little taste of the activity on the site.
  </p>
  <p>Catches raported so far:</p>
  <ul>
    {% for catch in species_catched %}
    <li>
      {{ catch.name }}: {{ catch.count }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}


