
{% extends "layout.html" %}

{% block body %}
<h1>Sign up</h1>
<form method="POST" action="{{ url_for('auth_create') }}">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" id="name" name="name">
  </div>
      <td>
        <ul>
          {% if errorName == "Name is already taken!" %}
          <li>{{ errorName }}</li>
          {% endif %}
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
  <div class="form-group">
    <label for="username">Username</label>
    <input class="form-control" id="username" name="username">
  </div>
      <td>
	<ul>
          {% if errorUsername == "Username is already taken!" %}
          <li>{{ errorUsername }}</li>
          {% endif %}
	  {% for error in form.username.errors %}
	  <li>{{ error }}</li>
	  {% endfor %}
	</ul>
      </td>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password">
  </div>
      <td>
        <ul>
          {% for error in form.password.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
  <div class="form-group">
    <label for="confirm">Password again</label>
    <input type="password" class="form-control" id="confirm" name="confirm">
  </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

