
{% extends "layout.html" %}

{% block body %}
<h1>Delete the catch...</h1>
<form method="POST" action="{{ url_for('catches_save', catch_id = catch.id) }}">
  <br>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="delete" name="delete">
      <label class="form-check-label" for="delete">I agree deleting it permanently.</label>
    </div>
  </br>
  <button type="submit" class="btn btn-primary">Delete</button>
</form>
<br></br>
<h1> Change it here </h1>
<form method="POST" action="{{ url_for('catches_save', catch_id = catch.id) }}">
  <div class="form-group">
    <label for="species">Select a species</label>
    <select class="form-control" id="species" name="species">
      <option>{{ catch.find_name_based_on_id(id=catch.species_id) }}</option>
      {% for fish in fishes %}
        <option>{{ fish.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="lure_or_fly">Lure or fly</label>
    <select class="form-control" id="lure_or_fly" name="lure_or_fly">
      <option>{{ catch.lure_or_fly }}</option>
      <option>lure</option>
      <option>fly</option>
    </select>
  </div>
  <div class="form-group">
    <label for="length">Length (cm)</label>
    <input class="form-control" id="length" name="length" placeholder={{ catch.length }}>
  </div>
  <td>
    <ul>
      {% for error in form.length.errors %}
	<li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="form-group">
    <label for="weight">Weight (kg)</label>
    <input class="form-control" id="weight" name="weight" placeholder={{ catch.weight }}>
  </div>
  <td>
    <ul>
      {% for error in form.weight.errors %}
	<li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="form-group">
    <label for="spot">Spot</label>
    <input class="form-control" id="spot" name="spot" placeholder={{ catch.spot }}>
  </div>
  <td>
    <ul>
      {% for error in form.spot.errors %}
	<li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3" placeholder={{ catch.description }}></textarea>
  </div>
  <td>
    <ul>
      {% for error in form.description.errors %}
	<li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="form-group">
    <label for="private_or_public">Private or public</label>
    <select class="form-control" id="private_or_public" name="private_or_public">
      <option>{{ catch.private_or_public }}</option>
      <option>private</option>
      <option>public</option>
    </select>
  </div>
  <br>
    <button type="submit" class="btn btn-primary">Change</button>
  </br>
</form>
{% endblock %}
