{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <h2> Own catches </h2>
      <th> Species </th>
      <th> Lure or fly </th>
      <th> Length (cm) </th>
      <th> Weight (kg) </th>
      <th> Spot </th>
      <th> Description </th>
      <th></th>
    </tr>
    {% for catch in catches %}
    {% if current_user.id == catch.account_id %}
    <tr>
      <td>{{ catch.species }}</td>
      <td>{{ catch.lure_or_fly }}</td>
      <td>{{ catch.length }}</td>
      <td>{{ catch.weight }}</td>
      <td>{{ catch.spot }}</td>
      <td>{{ catch.description }}</td>
      <td>
        <form method="POST" action="{{ url_for('catches_change_or_delete', catch_id = catch.id) }}">
          <input type="submit" value="Change or delete"/>
        </form>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>

  <table>
  <tr>
      <h2> Public catches </h2>
      <th> Species </th>
      <th> Lure or fly </th>
      <th> Length (cm) </th>
      <th> Weight (kg) </th>
      <th> Spot </th>
      <th> Description </th>
      <th></th>
    </tr>
    {% for catch in catches %}
    {% if catch.private_or_public == 'public' %}
    <tr>
      <td>{{ catch.species }}</td>
      <td>{{ catch.lure_or_fly }}</td>
      <td>{{ catch.length }}</td>
      <td>{{ catch.weight }}</td>
      <td>{{ catch.spot }}</td>
      <td>{{ catch.description }}</td>
    </tr>
    {% endif %}
    {% endfor %}

  </table>
{% endblock %}
