{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th> Specie </th>
      <th> Lure or fly </th>
      <th> Length (cm) </th>
      <th> Weight (kg) </th>
      <th> Spot </th>
      <th> Description </th>
      <th></th>
    </tr>
    {% for catch in catches %}
    <tr>
      <td>{{ catch.specie }}</td>
      <td>{{ catch.lure_or_fly }}</td>
      <td>{{ catch.length }}</td>
      <td>{{ catch.weight }}</td>
      <td>{{ catch.spot_id }}</td>
      <td>{{ catch.description }}</td>
      <td>
        <form method="POST" action="{{ url_for('catches_change', catch_id = catch.id) }}">
          <input type="submit" value="Change"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
