{% extends "layout.html" %}

{% block body %}
<h1> Own catches </h1>
<p> You can see here all of your catches. The other users can not see your private catches.</p>
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Species</th>
      <th scope="col">Lure or fly</th>
      <th scope="col">Length (cm)</th>
      <th scope="col">Weight (kg)</th>
      <th scope="col">Spot</th>
      <th scope="col">Description</th>
      <th scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
    {% for catch in ownCatches %}
      <tr>
        <td>{{ catch.find_name_based_on_id(catch.species_id) }}</td>
        <td>{{ catch.lure_or_fly }}</td>
        <td>{{ catch.length }}</td>
        <td>{{ catch.weight }}</td>
        <td>{{ catch.spot }}</td>
        <td>{{ catch.description }}</td>
        <td>{{ catch.getDate() }}</td>
        <td>
          <form method="POST" action="{{ url_for('catches_change_or_delete', catch_id = catch.id) }}">
            <button type="submit" class="btn btn-primary">Change or delete</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br></br>
<h1> Public catches </h1>
<p> Here is public catches. After you add a public catch, it will show in here as well.</p>
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Species</th>
      <th scope="col">Lure or fly</th>
      <th scope="col">Length (cm)</th>
      <th scope="col">Weight (kg)</th>
      <th scope="col">Spot</th>
      <th scope="col">Description</th>
      <th scope="col">Created</th>
      <th scope="col">Fisher</th>
    </tr>
  </thead>
  <tbody>
    {% for catch in publicCatches %}
      <tr>
        <td>{{ catch.find_name_based_on_id(catch.species_id) }}</td>
        <td>{{ catch.lure_or_fly }}</td>
        <td>{{ catch.length }}</td>
        <td>{{ catch.weight }}</td>
        <td>{{ catch.spot }}</td>
        <td>{{ catch.description }}</td>
        <td>{{ catch.getDate() }}</td>
        <td>{{ catch.find_fisher_based_on_id(catch.account_id) }}</td>
      </tr>
    {% endfor %}
  </tbody>
  <br></br>
</table>
{% endblock %}
