{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('catches_create') }}">
  <table>
      <h3> Add a new catch </h3>
      <tr>
	<td>
	  {{ form.species.label }}
	</td>
	<td>
	  {{ form.species }}
	</td>
        <td>
          <ul>
          {% if error == "No such a species!" %}
          <li>{{ error }}</li>
          {% endif %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.lure_or_fly.label }}
        </td>
        <td>
          {{ form.lure_or_fly }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.length.label }}
        </td>
        <td>
          {{ form.length }}
        </td>
        <td>
	  <ul>
	    {% for error in form.length.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
        <td>
          {{ form.weight.label }}
        </td>
        <td>
          {{ form.weight }}
        </td>
        <td>
	  <ul>
	    {% for error in form.weight.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
        <td>
          {{ form.spot.label }}
        </td>
        <td>
          {{ form.spot }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.description.label }}
        </td>
        <td>
          {{ form.description }}
        </td>
        <td>
	  <ul>
	    {% for error in form.description.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
        <td>
          {{ form.private_or_public.label }}
        </td>
        <td>
          {{ form.private_or_public }}
        </td>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Add a new catch"/>
	</td>
      </tr>
  </form>
</form>
{% endblock %}
