{% extends "layout.html" %}

{% block body %}
<h1> Fish species </h1>
<p> This information about fish species is provided by other fishers. If you spot a mistake or no more valid information, <b>please update it</b>. Every registered user can change or delete information.</p>

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Fish species</th>
      <th scope="col">Minimum catch size</th>
      <th scope="col">Closed season starts</th>
      <th scope="col">Closed season ends</th>
    </tr>
  </thead>
  <tbody>
    {% for fish in fishes %}
    {% if authenticated %}
    <tr>
      <td>{{ fish.name }}</td>
      <td>{{ fish.minimum_catch_size }}</td>
      <td>{{ fish.closed_season_starts }}</td>
      <td>{{ fish.closed_season_ends }}</td>
      <td>
        <form method="POST" action="{{ url_for('fish_change_or_delete', fish_id = fish.id) }}">
          <input type="submit" value="Change or delete"/>
        </form>
      </td>
    </tr>
    {% else %}
    <tr>
      <td>{{ fish.name }}</td>
      <td>{{ fish.minimum_catch_size }}</td>
      <td>{{ fish.closed_season_starts }}</td>
      <td>{{ fish.closed_season_ends }}</td>
    {% endif %}
    {% endfor %}
</table>
{% endblock %}
