{% extends "layout.html" %}

{% block body %}
<h1> Add a new species </h1>
<form method="POST" action="{{ url_for('fish_create') }}">
  <div class="form-group">
    <label for="name">Species</label>
    <input class="form-control" id="name" name="name" placeholder="e.g. trout">
  </div>
  <td>
    <ul>
      {% if error == "The species already exists!" %}
        <li>{{ error }}</li>
      {% endif %}
      {% for error in form.name.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="form-group">
    <label for="minimum_catch_size">Minimum catch size</label>
    <input class="form-control" id="minimum_catch_size" name="minimum_catch_size" placeholder="e.g. 50">
  </div>
  <td>
    <ul>
      {% for error in form.minimum_catch_size.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="noMinimumCatchSize" name="noMinimumCatchSize">
    <label class="custom-control-label" for="noMinimumCatchSize">No minimum catch size.</label>
  </div>
  <br></br>
  <div class="form-group">
    <label for="closed_season_starts_day">Closed season starting day</label>
    <select class="form-control" id="closed_season_starts_day" name="closed_season_starts_day">
      {% for i in range(1,32) %}
        <option>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
  <td>
    <ul>
      {% for error in form.closed_season_starts_day.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="form-group">
    <label for="closed_season_starts_month">Closed season starting month</label>
    <select class="form-control" id="closed_season_starts_month" name="closed_season_starts_month">
      {% for i in range(1,13) %}
        <option>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
  <td>
    <ul>
      {% for error in form.closed_season_starts_month.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="form-group">
    <label for="closed_season_ends_day">Closed season ending day</label>
    <select class="form-control" id="closed_season_ends_day" name="closed_season_ends_day">
      {% for i in range(1,32) %}
        <option>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
  <td>
    <ul>
      {% for error in form.closed_season_ends_day.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="form-group">
    <label for="closed_season_ends_month">Closed season ending month</label>
    <select class="form-control" id="closed_season_ends_month" name="closed_season_ends_month">
      {% for i in range(1,13) %}
        <option>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
  <td>
    <ul>
      {% for error in form.closed_season_ends_month.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="noClosedSeason" name="noClosedSeason">
    <label class="custom-control-label" for="noClosedSeason">No closed season.</label>
  </div>
  <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </br>
<br></br>
</form>
{% endblock %}
