{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('fish_create') }}">
  <table>
      <tr>
        <td>
          {{ form.name.label }}
        </td>
        <td>
          {{ form.name }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.minimum_catch_size.label }}
        </td>
        <td>
          {{ form.minimum_catch_size }}
        </td>
        <td>
	  <ul>
	    {% for error in form.minimum_catch_size.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
        <td>
          {{ form.closed_season_starts_day.label }}
        </td>
        <td>
          {{ form.closed_season_starts_day }}
        </td>
        <td>
	  <ul>
	    {% for error in form.closed_season_starts_day.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
         <td>
          {{ form.closed_season_starts_month.label }}
        </td>
        <td>
          {{ form.closed_season_starts_month }}
        </td>
        <td>
	  <ul>
	    {% for error in form.closed_season_starts_month.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
        <td>
          {{ form.closed_season_ends_day.label }}
        </td>
        <td>
          {{ form.closed_season_ends_day }}
        </td>
        <td>
	  <ul>
	    {% for error in form.closed_season_ends_day.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
        <td>
          {{ form.closed_season_ends_month.label }}
        </td>
        <td>
          {{ form.closed_season_ends_month }}
        </td>
        <td>
	  <ul>
	    {% for error in form.closed_season_ends_month.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Add a new species"/>
        </td>
      </tr>
  </form>
</form>
{% endblock %}
