{% extends "layout.html" %}

{% block body %}
<h1> Add a new species </h1>
<form method="POST" action="{{ url_for('fish_create') }}">
  <div class="form-group">
    <label for="name">The name of the species</label>
    <input class="form-control" id="name" name="name" placeholder="e.g. trout">
  </div>
  <td>
    <ul>
      {% if error == "The species already exists!" %}
        <li>{{ error }}</li>
      {% endif %}
      {% for error in form.name.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="form-group">
    <label for="minimum_catch_size">The minimum catch size</label>
    <input class="form-control" id="minimum_catch_size" name="minimum_catch_size" placeholder="eg. 50">
  </div>
  <td>
    <ul>
      {% for error in form.minimum_catch_size.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="noMinimumCatchSize" name="noMinimumCatchSize">
    <label class="form-check-label" for="noMinimumCatchSize">No minimum catch size.</label>
  </div>
  <br></br>
  <div class="form-group">
    <label for="closed_season_starts_day">Closed season starts day</label>
    <select class="form-control" id="closed_season_starts_day" name="closed_season_starts_day">
      {% for i in range(1,32) %}
        <option>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
  <td>
    <ul>
      {% for error in form.closed_season_starts_day.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="form-group">
    <label for="closed_season_starts_month">Closed season starts month</label>
    <select class="form-control" id="closed_season_starts_month" name="closed_season_starts_month">
      {% for i in range(1,13) %}
        <option>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
  <td>
    <ul>
      {% for error in form.closed_season_starts_month.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="form-group">
    <label for="closed_season_ends_day">Closed season ends day</label>
    <select class="form-control" id="closed_season_ends_day" name="closed_season_ends_day">
      {% for i in range(1,32) %}
        <option>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
  <td>
    <ul>
      {% for error in form.closed_season_ends_day.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="form-group">
    <label for="closed_season_ends_month">Closed season ends month</label>
    <select class="form-control" id="closed_season_ends_month" name="closed_season_ends_month">
      {% for i in range(1,13) %}
        <option>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
  <td>
    <ul>
      {% for error in form.closed_season_ends_month.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </td>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="noClosedSeason" name="noClosedSeason">
    <label class="form-check-label" for="noClosedSeason">No closed season.</label>
  </div>
  <br></br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
